*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body,
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.componentContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;

  background-color: #aaa;
}

.headerTitle {
  font-size: 3em;
}

.resumeContainer {
  background-color: #ccc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume {
  height: 80em;
  width: 60em;
  background-color: #fff;
  border-radius: 0.5em;
  border: 0.1em solid #000;
}

.generalContainer {
}

.educationContainer {
}

.experienceContainer {
}

.footer {
  background-color: #aaa;
  height: 3em;
}
